my-component {
  display: block;
}

my-component .content {
  padding: 10px;
  background-color: red;
  transition: background-color 500ms;
}

my-component .content.alternate {
  background-color: yellow;
}
